# =========================
# Gradle / Java / Spring Boot
# =========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# IDEs
# =========================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# OS / Misc
# =========================
.DS_Store
*.log

# =========================
# Test / build artifacts
# =========================
**/build/
**/bin/
**/out/

# =========================
# Environment files
# =========================
.env*
